.masthead{
  @include modular-element(margin-bottom, 3rem);
}

.logo{
  display: inline-block;
  @include modular-element(padding-top, 1rem);
  @include modular-element(padding-bottom, 1rem);
  @include modular(2rem, $minor-second);

  background-color: white;
  color: black;

  width: 100%;
}

.invert, .post{
  background-color: $brand-colour;
  color: white;
}

.projects{
  position: relative;
  text-align: center;

  h2{
    @include modular-element(margin-bottom, 3rem);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    @include modular-element( padding, 2rem );

  }

  .post-content{
    @include modular-element(max-width, 57rem);
  }

  p{
    @include modular(1.75rem, $minor-second);
  }
}

.case-title{
  @include modular-element(padding-top, 1.5rem);
  @include modular-element(padding-bottom, 1.5rem);
  @include modular(3.125rem, $minor-second);
}

video {
  max-width: 100%;
  height: auto;
  pointer-events: none;
}

// Flowplayer edits
.fp-embed,
.fp-fullscreen,
.fp-controls{
  display: none !important;
}

.project--link{
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 100%;
}


iframe,
embed,
object {
  max-width: 100%;
}