.invert{
  background-color: $brand-colour;
  color: white;
}

.projects{
  position: relative;
  text-align: center;
  @include modular-element(margin-top, 3rem);
  @include modular-element(padding-top, 3rem);
  @include modular-element(padding-bottom, 3rem);

  h2{
    @include modular-element(margin-bottom, 3rem);
  }
}

video {
  max-width: 100%;
  height: auto;
  pointer-events: none;
}

// Flowplayer edits
.fp-embed,
.fp-fullscreen,
.fp-controls{
  display: none !important;
}

.project--link{
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 100%;
}


iframe,
embed,
object {
  max-width: 100%;
}