---
layout: default
---
<div class="post single ma">

  <span class="logo">Sammenstilling</span>

  <div class="invert projects cf">

    <div class="flowplayer no-background no-volume no-time no-toggle">
      <video autoplay loop data-native_fullscreen="true">
        <source type="video/webm" src="{{ site.baseurl }}{{ page.video.webm }}">
        <source type="video/mp4"  src="{{ site.baseurl }}{{ page.video.mp4 }}">
      </video>
    </div>

    <article class="post-content wrapper">

      <h1 class="case-title">{{ page.title }}</h1>

      {{ content }}
    </article>
  </div>

</div>
