---
layout: default
---
<div class="wrapper single ma">

  <span class="logo">Sidestilling</span>

  <div class="invert projects cf">

<!--     <div class="flowplayer no-background no-volume no-time no-toggle">
      <video autoplay loop data-native_fullscreen="true">
        <source type="video/webm" src="{{ site.baseurl }}{{ page.video.webm }}">
        <source type="video/mp4"  src="{{ site.baseurl }}{{ page.video.mp4 }}">
      </video>
    </div> -->

  </div>

    <article class="post-content ">

      <h1 class="case-title">{{ page.title }}</h1>

      {{ content }}

    </article>
  </div>

</div>
